@model ProjetoFundacaoCrianca.Models.Encaminhamento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Encaminhamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entidade.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assistentesocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assistentesocial.cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aluno.cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatadeEncaminhamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatadeEncaminhamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
