@model ProjetoFundacaoCrianca.Models.DadoFamilia

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DadoFamilia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeMae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeMae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatadeNascimentoMae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatadeNascimentoMae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefoneMae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefoneMae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomePai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomePai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatadeNascimentoPai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatadeNascimentoPai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefonePai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefonePai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricoFamiliar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricoFamiliar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
