@model IEnumerable<ProjetoFundacaoCrianca.Models.DadoFamilia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatadeNascimentoMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefoneMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomePai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatadeNascimentoPai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonePai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoFamiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatadeNascimentoMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoneMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomePai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatadeNascimentoPai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonePai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HistoricoFamiliar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
