@model ProjetoFundacaoCrianca.Models.Atendimento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Atendimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assistenteSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assistenteSocial.cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dadofamilia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dadofamilia.HistoricoFamiliar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAtendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
