@model IEnumerable<ProjetoFundacaoCrianca.Models.Turma>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maximoAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minimoAluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.curso.CargaHoraria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maximoAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minimoAluno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
